body {
  font-family: "Libre Baskerville", serif;
  background: #fdfdfd;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #363636;
  border-radius: 5px;
}

button {
  border: 1.5px solid #363636;
  border-radius: 5px;
  color: #dc2f2f;
  background-color: #363636;
  padding: 5px 20px;
}

h1 {
  color: #363636;
  font-size: 24px;
  font-weight: 200;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #dc2f2f;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
  margin-top: -28px;
}

.weather-temperature strong {
  color: #363636;
  font-size: 55px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -30px;
  color: #363636;
}

.link {
  color: #363636;
}
.link a {
  text-decoration: none;
  color: #dc2f2f;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #363636;
}

.weather-forecast-date {
  font-size: 16px;
}

.weather-forecast-temperatures {
  font-size: 12px;
}

.weather-forecast-temperature-min {
  color: #dc2f2f;
}
